

.background{
    width: 100%;
    height: 100%;
}

#white{
    background-color: #ffffff;
}

#black{
    background-color: black;
}

.links{
    text-decoration: none; /* no underline */

}

@media screen and (min-width: 1000px) {
    .backgrounding{
        position:absolute;
        top: 0px;
        width: 105vw;
        z-index: -9999;
    }

    .backgrounding-work{
         position:absolute;
        top: 0px;
        width: 105vw;
        z-index: -9999;
    }
}

@media screen and (max-width: 1200px) {
    .backgrounding{
        position:absolute;
        top: 0px;
        height: 100vh;
        width: 135vw;
        z-index: -9999;
    }

    .backgrounding-work{
        position:absolute;
        top: 0px;
        width: 135vw;
        z-index: -9999;
    }
}