
#highlight-light{
    color: black;
}

#highlight-dark{
    color: white;
}

@media screen and (min-width: 750px) {
    .side-nav-custom{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-right: 50px;
        color: #A3A0A0;
        text-decoration: none;
        letter-spacing: 0.02em;
    }
    
    .side-nav{
        position: fixed;
        z-index: 9999;
        display: block;
        line-height: 25px;
        padding: 10px 0;
        margin: 270px;
    }

    #add-padding{
        display: inline-block;
        vertical-align: top;
        transform: translate(0,100%) rotate(
    -90deg);
        transform-origin: 0 0;
        left: 25px;
        position: relative;
    }

    #border-make{
        border-left: 2px solid #FFFFFF;
        height: 100vh;
        position: absolute;
        left: 110px;
        margin-left: -3px;
        top: 0;
    }
}

@media screen and (max-width: 750px) {
    .side-nav-custom{
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        margin-right: 50px;
        text-decoration: none;
        letter-spacing: 0.05em;
    }

    #white-if-light{
        color: #ffffff;
    }

    #change-color-if-dark{
        color: #b3b3b3;
    }
    
    .side-nav{
        position: fixed;
        z-index: 9999;
        display: block;
        top: 100px;
    }

    #border-make{
        border-bottom: 2px solid #FFFFFF;
        position: absolute;
        width: 3000px;
        height: 0px;
        left: -1400px;
        top: 140px;
    }

    #add-padding{
        display: absolute;
        text-align: center;
    }
}